---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Voces MR - Agencia de Locutores"
  description="Agencia de Locutores en México"
>
  <main>
    <section id="ourServices">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
        labore eveniet velit in sapiente ratione, explicabo iure neque
        accusantium natus debitis. Accusamus sequi optio, ea incidunt quod
        ratione a ab.
      </p>
    </section>
    <section id="previewTalents">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        ipsum modi, dolorum cupiditate praesentium sequi eveniet sapiente
        impedit minus, tempore numquam ab, nemo deserunt laudantium nostrum.
        Repellendus quis dolores blanditiis.
      </p>
    </section>
    <section id="brands">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, sed
        iure. Modi in, corporis omnis obcaecati delectus excepturi repudiandae
        pariatur id, aut deserunt, error fugiat ullam similique! Sequi, et
        minima?
      </p>
    </section>
    <section id="aboutUs">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia maiores
        animi vel consequatur repellat ipsum commodi neque aliquam quam. Totam
        consectetur aliquid iure, ducimus aperiam impedit illum molestias
        quaerat commodi!
      </p>
    </section>
    <section id="contactUs">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit in,
        qui assumenda sequi numquam cumque pariatur maxime. Officiis laborum
        nostrum necessitatibus, ex exercitationem odio, cumque, animi tenetur
        sapiente deleniti possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        officiis dolore laborum excepturi quia nobis necessitatibus? Repellat,
        aperiam quae consequuntur, tempore exercitationem dolor voluptatem,
        praesentium temporibus nisi cum mollitia velit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        pariatur similique vitae consectetur assumenda, molestiae totam quae
        rerum quisquam temporibus mollitia nihil omnis nobis eligendi dolores et
        alias obcaecati ratione!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit in,
        qui assumenda sequi numquam cumque pariatur maxime. Officiis laborum
        nostrum necessitatibus, ex exercitationem odio, cumque, animi tenetur
        sapiente deleniti possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        officiis dolore laborum excepturi quia nobis necessitatibus? Repellat,
        aperiam quae consequuntur, tempore exercitationem dolor voluptatem,
        praesentium temporibus nisi cum mollitia velit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        pariatur similique vitae consectetur assumenda, molestiae totam quae
        rerum quisquam temporibus mollitia nihil omnis nobis eligendi dolores et
        alias obcaecati ratione!
      </p>
    </section>
  </main>
</BaseLayout>
