---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Voces MR - Agencia de Locutores</title>
    <meta name="description" content="Agencia de Locutores en México" />
  </head>
  <body>
    <header><h1>VocesMR</h1></header>
    <main>
      <section id="hero"></section>
      <section id="ourServices"></section>
      <section id="previewTalents"></section>
      <section id="brands"></section>
      <section id="aboutUs"></section>
      <section id="contactUs"></section>
    </main>
    <footer></footer>
  </body>
</html>
