---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import OurClients from "../components/OurClients.astro";
import ContactUs from "../components/ContactUs.astro";
import WhyUs from "../components/WhyUs.astro";
import HowWeWork from "../components/HowWeWork.astro";
---

<BaseLayout
  title="Voces MR - Agencia de Locutores"
  description="VocesMR es una agencia de locutores comerciales. Nuestro objetivo es brindarle al cliente los mejores locutores de latinoamerica"
>
  <main>
    <Hero />
    <WhyUs />
    <HowWeWork />
    <OurClients />
    <ContactUs />
  </main>
</BaseLayout>

<style>
  .brands {
    background-color: var(--accent-primary);
  }
</style>
