---
import { Icon } from "astro-icon/components";
---

<section class="contactUs" id="contactUs">
  <div class="contactUs__container">
    <div class="contactUs__details">
      <h2 class="contactUs__title">Contáctanos</h2>
      <h3 class="contactUs__subtitle">Háblanos sobre tu proyecto</h3>
      <p class="contactUs__description">
        Escríbenos y encontraremos la voz perfecta para tu campaña
      </p>

      <address class="contactUs__address">
        <div class="contactUs__info">
          <div class="contactUs__icon-wrapper">
            <Icon name="material-symbols:mail" class="contactUs__icon" />
          </div>
          <div class="contactUs__info-text">
            <span class="contactUs__info-label">Email</span>
            <a
              href="mailto:monica.reyes.locutores@gmail.com"
              class="contactUs__info-link"
            >
              monica_reyes@vocesmr.com
            </a>
          </div>
        </div>

        <div class="contactUs__info">
          <div class="contactUs__icon-wrapper">
            <Icon
              name="material-symbols:phone-in-talk"
              class="contactUs__icon"
            />
          </div>
          <div class="contactUs__info-text">
            <span class="contactUs__info-label">Teléfono</span>
            <a href="tel:+525537077261" class="contactUs__info-link">
              +52 55 3707 7261
            </a>
          </div>
        </div>
      </address>
    </div>

    <form class="contactUs__form" action="/contact" method="post">
      <div class="contactUs__form-input">
        <label for="full-name">Nombre</label>
        <input type="text" name="full-name" id="full-name" required />
      </div>

      <div class="contactUs__form-input">
        <label for="company">Empresa / Marca</label>
        <input type="text" name="company" id="company" required />
      </div>

      <div class="contactUs__form-input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
      </div>

      <div class="contactUs__form-input">
        <label for="message">Mensaje</label>
        <textarea name="message" id="message" rows="5" required></textarea>
      </div>

      <button type="submit">Enviar mensaje</button>
    </form>
  </div>
</section>

<style>
  .contactUs {
    padding: 1.2rem;
  }

  .contactUs__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .contactUs__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .contactUs__title {
    font-size: var(--fs-xl);
    color: var(--accent-primary);
  }

  .contactUs__subtitle {
    padding-top: 1rem;
    font-size: var(--fs-lg);
  }

  .contactUs__description {
    font-size: var(--fs-md);
    color: var(--text-muted);
    text-align: center;
  }

  .contactUs__address {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    gap: 0.75rem;
  }

  .contactUs__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  .contactUs__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-primary);
    box-shadow: var(--shadow-press);
    border-radius: 8px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .contactUs__icon {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--text-primary);
  }

  .contactUs__info-text {
    display: flex;
    flex-direction: column;
  }

  .contactUs__info-label {
    font-size: var(--fs-sm);
    color: var(--text-muted);
  }

  .contactUs__info-link {
    font-size: var(--fs-base);
  }

  .contactUs__form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .contactUs__form-input {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
</style>
