<footer>
    <div class="information">
        <p>Correo: monica.reyes.locutores@gmail.com</p>
        <p>Telefono: +52 55 3707 7261</p>
    </div>

    <div class="copyright">
        <p>VocesMR 2026. Todos los derechos reservados</p>
    </div>
</footer>