<footer>
    <div class="footer__container">
        <img src="https://placehold.co/150x70" alt="Logo de VocesMR">
        <p>Agencia de locución comercial • México</p>

        <div class="footer__info">
            <div class="footer__info-contact">
                <p>Valladolid 12</p>
                <p>Ciudad de México</p>
                <p>Teléfono: +52 55 3707 7261</p>
                <p>Email: monica.reyes@vocesmr.com</p>
            </div>
            <div class="footer__info-nav">
                <nav class="footer__nav">
                    <a href="#">Inicio</a>
                    <a href="#">Locutores</a>
                    <a href="#">Contactanos</a>
                </nav>
            </div>
            <div class="footer__info-talent">
                <p>¿Eres locutor?</p>
                <a href="#">¡Únete al roster!</a>
            </div>
        </div>

        <div class="footer__legal">
            <p>&copy; 2026 VocesMR •</p>
            <a href="#">Aviso de privacidad</a>
        </div>
    </div>
</footer>