<header>
  <!-- Desktop-->
  <nav>
    <a href="#">Locutores</a>
  </nav>
  <a href="/"><img src="#" alt="Logo" /></a>
  <button class="cta-btn">Solicita un Casting</button>

  <!-- Mobile -->
  <button class="burger-btn"></button>
  <div class="drawer__container">
    <a href="#">Locutores</a>
    <button class="cta-drawer-btn">Solicita un Casting</button>
  </div>
</header>
