---
---

<section class="hero" id="hero">
  <div class="hero__container">
    <h1>VocesMR</h1>
  </div>
</section>

<style>
  .hero {
    min-height: 100dvh;
    background-color: var(--bg-primary);
  }
</style>